.color__web{
    color:#2196F3;
}
.color__studio__up{
   color: #000000;
}
.color__studio__down{
   color: #FFFFFF;
}
.logo{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   width: 145px;
   height: 31px;
}
.logo__plase__up{
    padding: 24px 0 25px;
    margin-right: 93px;
}
.logo__plase__down{
    margin-bottom: 20px;
    display: block;
}