.photo__block{
    padding-bottom: 94px;
}
.photo__block--flex__between{
    display: flex;
    justify-content: space-between;
}
.photo__block--relative{
    position: relative;
}
.label{
    width:370px;
    height:70px;
    background-color:#2F303ACC;
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.label--plase{
    position: absolute;
    bottom:0;      
}